<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Administrator/IdeaProjects/EbankingProject/src/test/java/com/inetbanking/testCases/testCaseLogin.java">
        <classes>
            <class name="com.inetbanking.testCases.testCaseLogin">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>